{{ define "main" }}
{{ with .Chart }}
	<div
		id="chart"
		class="rounded shadow-lg grid place-items-center gap-4 p-{{ .Padding }}"
		style="background-color: {{ .BgColor }};"
	>
		<h1 style="color: {{ .TextColor }};">{{ .Title }}</h1>
		<ul class="grid grid-cols-[repeat({{ .ColumnCount }},max-content)] grid-rows-{{ .RowCount }} sortable gap-{{ .Spacing }}">
			{{ $textPlacement := .ImagesTextPlacement }}
			{{ $imagesHeight := .ImagesHeight }}
			{{ $textColor := .TextColor }}
			
			{{ $imagesShape := eq .ImagesShape "portrait" | ternary "aspect-[4/5]" "aspect-square" }}
			{{ $imagesRoundedCorners := .ImagesRoundedCorners | ternary "rounded" "" }}
			
			{{ range .Images }}
				<li>
					<figure class="outline-cyan-600 hover:outline hover:outline-4 relative">
						{{ if eq $textPlacement "overlay" }}
							<figcaption
								class="z-10 absolute inset-0 text-left text-sm leading-tight bg-gradient-to-t from-slate-800/80 grid"
								style="color: {{ $textColor }};"
							>
								<div class="justify-self-start self-end p-2">
									<strong>{{ .Title }}</strong>
									<br>
									{{ .Caption }}
								</div>
							</figcaption>
						{{ end }}
						<img
							class='{{ $imagesShape }} {{ $imagesRoundedCorners }} object-center object-cover transition-all duration-75 shadow-md'
							src="{{ .URL }}"
							style="height: {{ $imagesHeight }}px;"
						>
						{{ if eq $textPlacement "inline" }}
							<figcaption class="text-center text-sm mt-2 leading-snug" style="color: {{ $textColor }};">
								<strong>{{ .Title }}</strong>
								<br>
								{{ .Caption }}
							</figcaption>
						{{ end }}
					</figure>
				</li>
			{{ end }}
		</ul>
	</div>
{{ end }}
{{ end }}
