{{ block main() }}
  <div
    _="def rowsAndCols(n) return `repeat(${n}, max-content)` end
	   def spacingAndPadding(n) return `calc(${n}rem / 2)` end
	   set :settingsNames to ['columns', 'rows', 'spacing', 'padding']
	   set :settings to {
	       columns: { name: 'grid-template-columns', rawVal: {{ .ColumnCount }}, val: rowsAndCols({{ .ColumnCount }}), targetId: 'images' },
	       rows: { name: 'grid-template-rows', rawVal: {{ .RowCount }}, val: rowsAndCols({{ .RowCount }}), targetId: 'images' },
		   spacing: { name: 'gap', rawVal: {{ .Spacing }}, val: spacingAndPadding({{ .Spacing }}), targetId: 'images' },
		   padding: { name: 'padding', rawVal: {{ .Padding }}, val: spacingAndPadding({{ .Padding }}), targetId: 'chart' }
	   }
	   set :settingsFuncs to {
	       columns: \n -> rowsAndCols(n),
	       rows: \n -> rowsAndCols(n),
		   spacing: \n -> spacingAndPadding(n),
		   padding: \n -> spacingAndPadding(n)
	   }
	   def updateChart()
	       for s in :settingsNames
		       set set to :settings[s]
		       set style to set.name
			   set val to set.val
			   set id to set.targetId
			   set #{id}.style[style] to val
           end

		   set images to the children of #images
		   set totalImgs to :settings.columns.rawVal * :settings.rows.rawVal
		   for img in images index i
		       if i >= totalImgs
			       hide img
			   else
			       show img
			   end
		   end
	   end
	   init
	       updateChart()
	   end
	   on chartUpdate(setting, value)
	      set f to :settingsFuncs[setting]
	      set :settings[setting].val to f(value)
	      set :settings[setting].rawVal to value
	      updateChart()"
    id="chart"
    class="shadow-lg grid place-items-center gap-4"
    style="background-color: {{ .BgColor }};"
  >
    <h1 style="color: {{ .TextColor }};">{{ bbcode(.Title) | html }}</h1>
    <ul id="images" class="grid sortable">
      {{ textPlacement := .ImagesTextPlacement }}
      {{ imagesHeight := .ImagesHeight }}
      {{ textColor := .TextColor }}
      {{ imagesShape := .ImagesShape == "portrait" ? "aspect-[4/5]" : "aspect-square" }}
      {{ imagesRoundedCorners := .ImagesRoundedCorners ? "rounded" : "" }}

      {{ range .Images }}
        <li>
          <figure
            class="outline-cyan-600 hover:outline hover:outline-4 relative"
          >
            {{ if textPlacement == "overlay" }}
              <figcaption
                class="z-10 absolute inset-0 text-left text-sm leading-tight bg-gradient-to-t from-slate-800/80 grid"
                style="color: {{ textColor }};"
              >
                <div class="justify-self-start self-end p-2">
                  <strong>{{ .Title }}</strong>
                  <br />
                  {{ .Caption }}
                </div>
              </figcaption>
            {{ end }}
            <img
              class="{{ imagesShape }} {{ imagesRoundedCorners }} object-center object-cover transition-all duration-75 shadow-md"
              src="{{ .URL }}"
              style="height: {{ imagesHeight }}px;"
            />
            {{ if textPlacement == "inline" }}
              <figcaption
                class="text-center text-sm mt-2 leading-snug"
                style="color: {{ textColor }};"
              >
                <strong>{{ .Title }}</strong>
                <br />
                {{ .Caption }}
              </figcaption>
            {{ end }}
          </figure>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
