{{ define "main" }}
{{ with .Chart }}
	<div
		class="shadow-lg grid place-items-center gap-4 p-{{ .Padding }}"
		style="background-color: #475569;"
	>
		<h1 style="color: {{ .TextColor }};">{{ .Title }}</h1>
		<ul class="grid grid-cols-{{ .ColumnCount }} grid-rows-{{ .RowCount }} sortable gap-{{ .Spacing }}">
			{{ $textPlacement := .ImagesTextPlacement }}
			{{ range .Images }}
				<li>
					<figure class="w-24">
						<img
							class="hover:outline-cyan-600 hover:outline hover:outline-4 transition-all duration-75 shadow-md"
							src="{{ .URL }}"
						>
						{{ if eq $textPlacement "inline" }}
							<figcaption class="text-center text-sm" style="color: {{ .TextColor }};">
								<strong>{{ .Title }}</strong>
								<br>
								{{ .Caption }}
							</figcaption>
						{{ end }}
					</figure>
				</li>
			{{ end }}
		</ul>
	</div>
{{ end }}
{{ end }}
