{{ block inputNumeric(id, name, label, defaultValue, class, min, max) }}
  <div
    role="group"
    class="flex flex-col gap-1 md:flex-row md:justify-between items-center"
  >
    <label for="{{ id }}">{{ label }}</label>
    <div class="flex items-center gap-4">
      <button
        _="on click
		      get the (value of #{{ id }}) as an Int
			  set val to it
			  decrement val
			  set #{{ id }}.value to val
			  set (the next <output/>).value to val
			  if val <= {{ min }}
				  add @disabled
			  else if val < {{ max }}
			      remove @disabled from the next <button/>
			  end"
        type="button"
        class="rounded-full border-2 border-slate-300 w-8 h-8 md:w-6 md:h-6 md:leading-none font-bold disabled:border-slate-600 disabled:cursor-not-allowed"
      >
        -
      </button>
      <output for="{{ id }}" class="w-4 text-center">
        {{ defaultValue }}
      </output>
      <button
        _="on click
		      get the (value of #{{ id }}) as an Int
			  set val to it
			  increment val
			  set #{{ id }}.value to val
			  set (the previous <output/>).value to val
			  if val >= {{ max }}
				  add @disabled
			  else if val > {{ min }}
			      remove @disabled from the previous <button/>
			  end"
        type="button"
        class="rounded-full border-2 border-slate-300 w-8 h-8 md:w-6 md:h-6 md:leading-snug font-bold disabled:border-slate-600 disabled:cursor-not-allowed"
      >
        +
      </button>
    </div>
    <input
      _="on input alert('hola')"
      id="{{ id }}"
      name="{{ name }}"
      type="hidden"
      value="{{ defaultValue }}"
    />
  </div>
{{ end }}
