{{ block inputSlider(id, name, label, defaultValue, class, min, max) }}
  <div role="group" class="flex flex-col gap-4">
    <div class="flex justify-between">
      <label><strong>{{ label }}</strong></label>
      <output for="{{ id }}">{{ defaultValue }}</output>
    </div>
    <!--
		Since the slider is a web component, there's no way to access it from
		outside of the Shadow DOM (at least the author doesn't expose anything).
		A simple solution is just using a hidden input.
	-->
    <input
      id="{{ id }}-hidden"
      type="hidden"
      name="{{ name }}"
      value="{{ defaultValue }}"
      class="{{ class }}"
    />
    <tc-range-slider
      _="on change(detail) put the detail.value into the previous <output/>
		   then set #{{ id }}-hidden.value to detail.value
		   then trigger input on #{{ id }}-hidden"
      id="{{ id }}"
      type="range"
      name="{{ name }}"
      min="{{ min }}"
      max="{{ max }}"
      value="{{ defaultValue }}"
      step="1"
      slider-width="100%"
      slider-height="0.7rem"
      pointer-width="1.25rem"
      pointer-height="1.25rem"
    >
    </tc-range-slider>
  </div>
{{ end }}
