{{ define "chart" }}
	<div
		_="def updateChart()
			   get the getComputedStyle(me) then set computedStyles to it
			   set cols to computedStyles.getPropertyValue('--chart-settings-cols')
			   set rows to computedStyles.getPropertyValue('--chart-settings-rows')

			   set total to rows * cols

			   set images to the children of #images
			   for img in images index i
			   	   if i >= total
			   	   	   set img's @aria-hidden to true
			   	   else
			   	   	   set img's @aria-hidden to false
			   	   end
			   end

			   set #text's @rows to rows
			   set #text's @columns to cols
		   end

		   init
			   updateChart()
			   show me
		   end

		   -- mobile replace on search
		   on chartImages(src, title, caption)
		       set imgs to the children of #images
			   set imgTxt to the children of #text
			   send replace(src: src, title: title, caption: caption) to imgs[$replaceIndex]
		   end

		   on chartUpdate
			   updateChart()
		   end

		   on chartTextPlacement(value)
			   if value is 'hide' or value is 'inline' or value is 'overlay'
			       set <chart-image/>'s @text-placement to value
				   add [@text-placement=hide] to #images-text
			   end
			   if value is 'left' or value is 'below' or value is 'right'
				   set #images-text's @text-placement to value
				   add [@text-placement=hide] to <chart-image/>
			   end
		   end

		   on chartImagesShape(value)
		       set <chart-image/>'s @shape to value
		   end
		   "
		id="chart"
		style="display: none;"
	>
		<chart-images-text
			_="on bgChange(state)
				   if state is 'color'
				       remove .gradient from me
				       remove .image from me
					   add .color to me
				   end
				   if state is 'gradient'
				       remove .color from me
				       remove .image from me
					   add .gradient to me
				   end
				   if state is 'image'
				       remove .color from me
				       remove .gradient from me
					   add .image to me
				   end
			   on bgChangeColor(value)
				   call #chart.style.setProperty('--chart-settings-background-color', value)
			   on bgChangeGradientFrom(value)
				   call #chart.style.setProperty('--chart-settings-background-gradient-from', value)
			   on bgChangeGradientTo(value)
				   call #chart.style.setProperty('--chart-settings-background-gradient-to', value)
			   on bgChangeImage(file)
			       set src to URL.createObjectURL(file)
			       set url to beep! `url('${src}')`
				   call #chart.style.setProperty('--chart-settings-background-image', url)"
			id="images-text"
			text-placement="hide"
			class="grid bg-cover bg-center color"
		>
			<h1
				_="on update(value) get the markdown(value) then set my.innerHTML to it"
				id="chart-title"
				class="font-condensed place-self-center max-w-[60ch]"
				style="color: {{ .TextColor }};"
				slot="title"
			>
				{{ .Title }}
			</h1>
			<ul
				_="init
					   send update(images: me) to #text
				   end
				   on drop(target)
					   send update(images: me) to #text

				   -- sortable events
				   on move(dragged)
					   send update(images: me) to #text
				       set the dragged's @data-was-dragging to true
				   on update(item, newIndex)
				       set images to the children of me
					   for img in images index i
						   set the img's @index to i
					   end
				   on end(item)
					   set the item's @data-was-dragging to false"
				id="images"
				class="grid"
				slot="images"
			>
				{{ $textColor := .TextColor }}
				{{ $shape := .ImagesShape }}

				{{ range $i := .Images }}
					<chart-image
						_="on touchend
							   if @data-was-dragging
								   remove @data-was-dragging from me
								   exit
							   end
							   wait 150ms -- helps make things feel smooth
							   toggle between .hidden and .block on <footer/>
							   set $replaceIndex to my.index
							   send open to #search-mobile
							   call history.pushState('search-mobile-open', null, 'search-mobile')
							end"
						class="aria-hidden:hidden sortable-item"
						index="{{ $i }}"
						title="{{ .Title }}"
						caption="{{ .Caption }}"
						src="{{ .URL }}"
						text-color="{{ $textColor }}"
						text-placement="hide"
						shape="{{ $shape }}"
						aria-hidden="false"
					>
					</chart-image>
				{{ end }}
			</ul>
			<chart-text id="text" slot="text" columns="{{ .ColumnCount }}" rows="{{ .RowCount }}"></chart-text>
		</chart-images-text>
	</div>
{{ end }}

{{ define "charts" }}
	<ul class="grid divide-y divide-slate-700">
		{{ $curr := .CurrentChart }}
		{{ range .Charts }}
			<li tabindex="0">
				<figure class="group p-4 flex gap-4 items-center hover:bg-slate-100 hover:cursor-pointer">
					<img src="/assets/img/generic-chart.png" class="w-24 h-24" />
					<figcaption class="group-hover:text-slate-900 select-none">
						{{ with $curr }}
							{{ if eq $curr.ID .ID }}
								<strong>{{ .Name }}</strong>
							{{ end }}
						{{ else }}
							{{ .Name }}
						{{ end }}
					</figcaption>
				</figure>
			</li>
		{{ end }}
		<li class="grid place-items-center pt-4">
			<button class="flex gap-2">
				<div class="h-6 w-6">
					<icon-plus></icon-plus>
				</div>
				New chart
			</button>
		</li>
	</ul>
{{ end }}
