{{ define "desktop/panel/left" }}
	<aside
		_="install TabContainer"
		id="panel-left"
		class="hidden bg-slate-900 border-r border-slate-700 md:grid grid-cols-1 grid-rows-[auto_1fr] overflow-y-hidden"
	>
		<div role="tablist" class="flex gap-2 p-4 border-b border-slate-700">
			{{ if .IsAuthenticated }}
				<a
					id="tab-charts"
					href="#charts"
					role="tab"
					aria-controls="charts"
					class="w-14 aria-selected:font-bold aria-selected:text-slate-100 text-slate-300"
				>
					Charts
				</a>
			{{ end }}
			{{ with .CurrentChart }}
				<a
					id="tab-search"
					href="#search"
					role="tab"
					aria-controls="search"
					class="w-14 aria-selected:font-bold aria-selected:text-slate-100 text-slate-300"
				>
					Search
				</a>
			{{ end }}
			{{ if .IsAuthenticated }}
				<a
					id="tab-profile"
					href="#profile"
					role="tab"
					aria-controls="profile"
					class="w-14 aria-selected:font-bold aria-selected:text-slate-100 text-slate-300 hidden"
				>
					Profile
				</a>
			{{ else }}
				<a
					id="tab-login"
					href="#login"
					role="tab"
					aria-controls="login"
					class="w-14 aria-selected:font-bold aria-selected:text-slate-100 text-slate-300"
				>
					Log in
				</a>
				<a
					id="tab-signup"
					href="#signup"
					role="tab"
					aria-controls="signup"
					class="w-14 aria-selected:font-bold aria-selected:text-slate-100 text-slate-300"
				>
					Sign up
				</a>
			{{ end }}
		</div>
		<div id="charts" role="tabpanel" aria-labelledby="tab-charts" hidden class="items-start">
			{{ template "charts" . }}
		</div>
		{{ with .CurrentChart }}
			<div
				id="search"
				role="tabpanel"
				aria-labelledby="tab-search"
				hidden
				class="grid-rows-[auto_1fr] overflow-y-hidden"
			>
				{{ template "desktop/search" . }}
			</div>
		{{ end }}
		{{ if .IsAuthenticated }}
			<div id="profile" role="tabpanel" aria-labelledby="tab-profile" hidden>Botón para salir xd</div>
		{{ else }}
			<div id="login" role="tabpanel" aria-labelledby="tab-login" hidden>
				{{ template "login" . }}
			</div>
			<div id="signup" role="tabpanel" aria-labelledby="tab-signup" hidden>
				{{ template "signup" . }}
			</div>
		{{ end }}
	</aside>
{{ end }}

{{ define "desktop/panel/right" }}
	{{ $isAuthenticated := .IsAuthenticated }}
	{{ with .CurrentChart }}
		<form
			{{ if $isAuthenticated }}
				hx-patch="/settings" hx-trigger="input from:.settings-desktop delay:300ms, change from:.settings-desktop
				delay:300ms" hx-include=".settings-desktop" hx-swap="none"
			{{ end }}
		>
			<settings-reveal title="General">
				<input type="number" name="id" hidden value="{{ .ID }}" class="settings-desktop" />
				<div class="p-4">
					<input-text
						_="on input(value)
				           send chart:title(value: value) to #images-text"
						name="title"
						label="Title"
						value="{{ .Title }}"
						class="settings-desktop"
						caption="Works with Markdown and emojis! 🔥"
					></input-text>
					<hr class="border-slate-700 my-4" />
					<div
						_="on toggle(value)
				       if value is 'color'
				   	       add [@aria-hidden=false] to #settings-chart-bg-color
				   	       add [@aria-hidden=true] to #settings-chart-bg-gradient
				   	       add [@aria-hidden=true] to #settings-chart-bg-image
				       end
				       if value is 'gradient'
				   	       add [@aria-hidden=true] to #settings-chart-bg-color
				   	       add [@aria-hidden=false] to #settings-chart-bg-gradient
				   	       add [@aria-hidden=true] to #settings-chart-bg-image
				       end
				       if value is 'image'
				   	       add [@aria-hidden=true] to #settings-chart-bg-color
				   	       add [@aria-hidden=true] to #settings-chart-bg-gradient
				   	       add [@aria-hidden=false] to #settings-chart-bg-image
				   	   end
					   send bgChange(state: value) to #images-text"
						id="settings-chart-bg"
						class="flex flex-col gap-4"
					>
						<input-radio-group
							_="on change(value)
					       send toggle(value: value) to #settings-chart-bg"
							name="background"
						>
							<span slot="legend">Background</span>
							<div default value="color" class="rounded-l" slot="item">Color</div>
							<div value="gradient" slot="item">Gradient</div>
							<div value="image" class="rounded-r" slot="item">Image</div>
						</input-radio-group>
						<div id="settings-chart-bg-color" class="aria-hidden:hidden flex justify-start items-center gap-4">
							<output name="color" for="settings-chart-bg-color-picker">{{ .BgColor }}</output>
							<input
								_="on input(target)
					       set val to target.value
						   send bgChangeColor(value: val) to #images-text
						   put val into the previous <output/>"
								id="settings-chart-bg-color-picker"
								class="h-8 w-16 rounded border border-slate-700 bg-slate-900 p-2 settings-desktop"
								autocomplete="off"
								type="color"
								name="bgColor"
								value="{{ .BgColor }}"
							/>
						</div>
						<div id="settings-chart-bg-gradient" class="flex justify-between aria-hidden:hidden" aria-hidden="true">
							<div class="flex gap-4 items-center">
								<label for="settings-chart-bg-gradient-from">From</label>
								<input
									_="on input(target)
							       send bgChangeGradientFrom(value: target.value) to #images-text"
									id="settings-chart-bg-gradient-from"
									class="h-8 w-16 rounded border border-slate-700 bg-slate-900 p-2 aria-hidden:hidden settings-desktop"
									autocomplete="off"
									type="color"
									name="bgGradientFrom"
									value="{{ .BgColor }}"
								/>
							</div>
							<div class="flex gap-4 items-center">
								<label for="settings-chart-bg-gradient-to">To</label>
								<input
									_="on input(target)
							       send bgChangeGradientTo(value: target.value) to #images-text"
									id="settings-chart-bg-gradient-to"
									class="h-8 w-16 rounded border border-slate-700 bg-slate-900 p-2 aria-hidden:hidden settings-desktop"
									autocomplete="off"
									type="color"
									name="bgGradientTo"
									value="{{ .BgColor }}"
								/>
							</div>
						</div>
						<input
							_="on input(target)
						   send bgChangeImage(file: target.files[0]) to #images-text"
							aria-hidden="true"
							class="aria-hidden:hidden settings-desktop"
							id="settings-chart-bg-image"
							type="file"
							name="bgImage"
							accept="image/*"
						/>
					</div>
				</div>
			</settings-reveal>
			<settings-reveal title="Layout">
				<fieldset class="grid grid-cols-2 gap-4 p-4" role="group">
					<input-numeric
						_="install ChartSetting"
						id="column-count"
						name="cols"
						value="{{ .ColumnCount }}"
						class="settings-desktop"
						min="1"
						max="10"
					>
						Columns
					</input-numeric>
					<input-numeric
						_="install ChartSetting"
						id="row-count"
						name="rows"
						value="{{ .RowCount }}"
						class="settings-desktop"
						min="1"
						max="10"
					>
						Rows
					</input-numeric>
					<input-numeric
						_="install ChartSetting"
						id="spacing"
						name="spacing"
						value="{{ .Spacing }}"
						class="settings-desktop"
						min="0"
						max="5"
					>
						Spacing
					</input-numeric>
					<input-numeric
						_="install ChartSetting"
						id="padding"
						name="padding"
						value="{{ .Padding }}"
						class="settings-desktop"
						min="0"
						max="5"
					>
						Padding
					</input-numeric>
				</fieldset>
			</settings-reveal>
			<settings-reveal title="Images">
				<input-radio-group
					_="on change(value)
					   send chartImagesShape(value: value) to #chart"
					name="imagesShape"
					class="settings-desktop px-2"
					value="square"
				>
					<span slot="legend">Shape</span>
					<div default value="square" class="rounded-l" slot="item">Square</div>
					<div value="portrait" class="rounded-r" slot="item">Portrait</div>
				</input-radio-group>
				<input-radio-group
					_="on change(value)
					   call #chart.style.setProperty('--chart-settings-images-width', value)"
					name="imagesSize"
					class="settings-desktop"
					value="150"
				>
					<span slot="legend">Size</span>
					<div default value="150" class="rounded-l" slot="item">Regular</div>
					<div value="200" class="rounded-r" slot="item">Large</div>
				</input-radio-group>
			</settings-reveal>
			<settings-reveal title="Titles">
				<input-radio-group
					_="on change(value)
				          send chartTextPlacement(value: value) to #chart"
					name="imagesTextPosition"
					class="p-2 settings-desktop"
					value="hide"
				>
					<span slot="legend">Position</span>
					<div default value="hide" class="rounded-tl border-b-0" slot="item">Hide</div>
					<div value="inline" class="border-b-0" slot="item">Inline</div>
					<div value="overlay" class="rounded-tr border-b-0" slot="item">Overlay</div>
					<div value="left" class="rounded-bl" slot="item">Left</div>
					<div value="below" slot="item">Below</div>
					<div value="right" class="rounded-br" slot="item">Right</div>
				</input-radio-group>
			</settings-reveal>
		</form>
	{{ end }}
{{ end }}
