{{ define "main" }}
	<div
		class="bg-slate-950 h-full grid grid-cols-1 grid-rows-[3.5rem_1fr_auto] md:grid-cols-[18rem_1fr_18rem] md:grid-rows-[3.5rem_1fr]"
	>
		{{ template "header" .CurrentChart }}
		{{ template "desktop/panel/left" . }}
		<main id="main" class="overflow-auto grid place-items-center p-8">
			{{ with .CurrentChart }}
				{{ template "chart" . }}
			{{ end }}
		</main>
		<aside
			id="panel-right"
			class="{{ with .CurrentChart }}
				flex-col overflow-y-auto bg-slate-900 hidden md:flex col-start-3 border-l border-slate-700
			{{ end }}"
		>
			{{ with .CurrentChart }}
				{{ template "desktop/panel/right" . }}
			{{ end }}
		</aside>
		{{ template "mobile/search" . }}
		{{ with .CurrentChart }}
			{{ template "mobile/footer" . }}
		{{ end }}
	</div>
{{ end }}
