{{ block "login" . }}
	<form id="login" class="aria-hidden:hidden" hx-post="/login" hx-swap="outerHTML">
		<div class="flex flex-col gap-4 p-4 border-t border-slate-700">
			<input-text
				required
				name="email"
				{{ with .Form.FieldErrors.email }}
					error="{{ . }}"
				{{ end }}
				{{ with .Form.Email }}
					value="{{ . }}"
				{{ end }}
			>
				E-mail
			</input-text>
			<input-text
				required
				name="password"
				type="password"
				{{ with .Form.FieldErrors.email }}
					error="{{ . }}"
				{{ end }}
			>
				Password
			</input-text>
		</div>
		<div class="p-4 flex justify-evenly border-t border-slate-700">
			<button type="reset" class="grid place-items-center gap-2">Cancel</button>
			<button type="submit" class="pl-4 grid grid-cols-[1fr_1rem] gap-2">
				Confirm
				<icon-spinner class="htmx-indicator spinner w-4 h-4"></icon-spinner>
			</button>
		</div>
	</form>
{{ end }}
{{ block "signup" . }}
	<form id="signup" class="aria-hidden:hidden" hx-post="/signup" hx-swap="outerHTML">
		<div class="flex flex-col gap-4 p-4 border-t border-slate-700">
			<input-text
				required
				name="email"
				caption="Required"
				{{ with .Form.FieldErrors.email }}
					error="{{ . }}"
				{{ end }}
				{{ with .Form.Email }}
					value="{{ . }}"
				{{ end }}
			>
				E-mail
			</input-text>
			<input-text
				required
				name="password"
				type="password"
				caption="Required, must be at least 8 characters long"
				{{ with .Form.FieldErrors.password }}
					error="{{ . }}"
				{{ end }}
			>
				Password
			</input-text>
		</div>
		<div class="p-4 flex justify-evenly border-t border-slate-700">
			<button type="reset" class="grid place-items-center gap-2">Cancel</button>
			<button type="submit" class="pl-4 grid grid-cols-[1fr_1rem] gap-2">
				Confirm
				<icon-spinner class="htmx-indicator spinner w-4 h-4"></icon-spinner>
			</button>
		</div>
	</form>
{{ end }}
