{{ block inputNumeric(id, name, label, defaultValue, class, min, max) }}
	<div role="group" class="flex flex-col gap-1 md:flex-row md:justify-between items-center">
		<label for="{{ id }}">{{ label }}</label>
		<div class="flex items-center gap-4">
			<button
				_="on click
		      get the (value of #{{ id }}) as an Int
			  set val to it
			  decrement val
			  set #{{ id }}.value to val
			  set (the next <output/>).value to val
			  send chartUpdate(setting:'{{ name }}',value:val) to #chart
			  if val <= {{ min }}
				  add @disabled
			  else if val < {{ max }}
			      remove @disabled from the next <button/>
			  end"
				type="button"
				class="w-8 h-8 md:w-6 md:h-6 disabled:text-slate-600 disabled:cursor-not-allowed"
			>
				<svg
					viewBox="0 0 32 32"
					version="1.1"
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
				>
					<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
						<g
							id="Icon-Set-Filled"
							sketch:type="MSLayerGroup"
							transform="translate(-518.000000, -1089.000000)"
							fill="currentColor"
						>
							<path
								d="M540,1106 L528,1106 C527.447,1106 527,1105.55 527,1105 C527,1104.45 527.447,1104 528,1104 L540,1104 C540.553,1104 541,1104.45 541,1105 C541,1105.55 540.553,1106 540,1106 L540,1106 Z M534,1089 C525.163,1089 518,1096.16 518,1105 C518,1113.84 525.163,1121 534,1121 C542.837,1121 550,1113.84 550,1105 C550,1096.16 542.837,1089 534,1089 L534,1089 Z"
								id="minus-circle"
								sketch:type="MSShapeGroup"
							></path>
						</g>
					</g>
				</svg>
			</button>
			<output for="{{ id }}" class="w-4 text-center">
				{{ defaultValue }}
			</output>
			<button
				_="on click
		      get the (value of #{{ id }}) as an Int
			  set val to it
			  increment val
			  set #{{ id }}.value to val
			  set (the previous <output/>).value to val
			  send chartUpdate(setting:'{{ name }}',value:val) to #chart
			  if val >= {{ max }}
				  add @disabled
			  else if val > {{ min }}
			      remove @disabled from the previous <button/>
			  end"
				type="button"
				class="w-8 h-8 md:w-6 md:h-6 disabled:text-slate-600 disabled:cursor-not-allowed"
			>
				<svg
					viewBox="0 0 32 32"
					version="1.1"
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
				>
					<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
						<g
							id="Icon-Set-Filled"
							sketch:type="MSLayerGroup"
							transform="translate(-466.000000, -1089.000000)"
							fill="currentColor"
						>
							<path
								d="M488,1106 L483,1106 L483,1111 C483,1111.55 482.553,1112 482,1112 C481.447,1112 481,1111.55 481,1111 L481,1106 L476,1106 C475.447,1106 475,1105.55 475,1105 C475,1104.45 475.447,1104 476,1104 L481,1104 L481,1099 C481,1098.45 481.447,1098 482,1098 C482.553,1098 483,1098.45 483,1099 L483,1104 L488,1104 C488.553,1104 489,1104.45 489,1105 C489,1105.55 488.553,1106 488,1106 L488,1106 Z M482,1089 C473.163,1089 466,1096.16 466,1105 C466,1113.84 473.163,1121 482,1121 C490.837,1121 498,1113.84 498,1105 C498,1096.16 490.837,1089 482,1089 L482,1089 Z"
								id="plus-circle"
								sketch:type="MSShapeGroup"
							></path>
						</g>
					</g>
				</svg>
			</button>
		</div>
		<input _="on input alert('hola')" id="{{ id }}" name="{{ name }}" type="hidden" value="{{ defaultValue }}" />
	</div>
{{ end }}
