.slider {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.slider-info {
    display: flex;
    justify-content: space-between;
}

.slider > input {
    width: 100%;
}

.config-color-picker {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
