{{ define "base" }}
  <!doctype html>
  <html lang="en" class="overflow-hidden">
    <head>
      {{ template "head" . }}
    </head>
    <body
      class="w-full h-full fixed overflow-auto bg-slate-900 text-slate-50 grid grid-cols-1 md:grid-cols-[15rem_1fr_15rem] grid-rows-[3.5rem_1fr_auto] md:grid-rows-[3.5rem_1fr]"
    >
      <header
        class="px-4 grid griw-rows-1 grid-cols-[auto_1fr_auto] md:grid-cols-3 items-center text-slate-50 border-b border-slate-700 md:col-span-full md:row-start-1 md:row-span-1"
      >
        <button type="button" class="h-6 w-6">
          {{ template "icon/burger" . }}
        </button>
        <div class="text-xl text-center">My epic chart</div>
        <div class="flex justify-self-end gap-6">
          <button type="button" class="h-6 w-6 hidden md:block">
            {{ template "icon/user" . }}
          </button>
          <button type="button" class="h-6 w-6">
            {{ template "icon/share" . }}
          </button>
          <div class="hidden md:block">100%</div>
        </div>
      </header>
      <aside
        class="px-4 py-2 hidden md:block row-start-2 col-start-1 col-end-2 border-r border-slate-700"
      >
        Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit
        enim labore culpa sint ad nisi Lorem pariatur mollit ex esse
        exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit
        nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor
        minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure
        elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor
        Lorem duis laboris cupidatat officia voluptate. Culpa proident
        adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod.
        Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim.
        Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa
        et culpa duis.
      </aside>
      <main
        class="overflow-scroll grid place-items-center p-8 bg-slate-950 md:col-start-2 md:col-end-3"
      >
        {{ template "main" . }}
      </main>
      <aside
        class="px-4 py-2 hidden md:block row-start-2 col-start-3 border-l border-slate-700"
      >
        Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit
        enim labore culpa sint ad nisi Lorem pariatur mollit ex esse
        exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit
        nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor
        minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure
        elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor
        Lorem duis laboris cupidatat officia voluptate. Culpa proident
        adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod.
        Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim.
        Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa
        et culpa duis.
      </aside>
      <footer class="relative pt-2 border-t border-slate-700 md:hidden">
        {{ with .Chart }}
          <button
            class="text-slate-100 rounded-full h-6 w-6 absolute top-0 right-2 -translate-y-1/2"
          >
            {{ template "icon/close" . }}
          </button>
          <div
            class="px-4 text-slate-50 pb-4 flex flex-col gap-2 border-b border-slate-700"
          >
            {{ template "input/text" newInputText "settings" "Title" "title" .Title }}
          </div>
        {{ end }}
        <div class="px-4 flex justify-around items-center text-slate-400 h-20">
          <div class="text-slate-50 grid place-items-center gap-1">
            <div class="h-6 w-6">
              {{ template "icon/text" }}
            </div>
            <div class="text-center font-bold text-xs text-slate-200">Text</div>
          </div>
          <div class="grid place-items-center gap-1">
            <div class="h-6 w-6">
              {{ template "icon/layout" }}
            </div>
            <div class="text-center font-bold text-xs">Layout</div>
          </div>
          <div class="grid place-items-center gap-1">
            <div class="h-6 w-6">
              {{ template "icon/images" }}
            </div>
            <div class="text-center font-bold text-xs">Images</div>
          </div>
          <div class="grid place-items-center gap-1">
            <div class="h-6 w-6">
              {{ template "icon/colors" }}
            </div>
            <div class="text-center font-bold text-xs">Colors</div>
          </div>
        </div>
      </footer>
    </body>
  </html>
{{ end }}
