{{ define "base" }}
  <!doctype html>
  <html lang="en" class="overflow-hidden">
    <head>
      {{ template "head" . }}
    </head>
    <body
      class="w-full h-full fixed overflow-auto bg-slate-50 text-slate-900 grid grid-cols-1 grid-rows-[3.5rem_1fr_auto]"
    >
      <header
        class="px-4 flex justify-between items-center bg-slate-900 text-slate-50 border-b border-slate-700"
      >
        <button type="button" class="h-6 w-6">
          {{ template "icon/burger" . }}
        </button>
        <div class="text-xl">My epic chart</div>
        <button type="button" class="h-6 w-6">
          {{ template "icon/share" . }}
        </button>
      </header>
      <main class="overflow-scroll grid place-items-center p-8 bg-slate-950">
        {{ template "main" . }}
      </main>
      <footer class="relative pt-2 bg-slate-900 border-t border-slate-700">
        {{ with .Chart }}
          <button
            class="text-slate-100 rounded-full h-6 w-6 absolute top-0 right-2 -translate-y-1/2"
          >
            {{ template "icon/close" . }}
          </button>
          <div
            class="px-4 text-slate-50 pb-4 flex flex-col gap-2 border-b border-slate-700"
          >
            {{ template "input/text" newInputText "settings" "Title" "title" .Title }}
          </div>
        {{ end }}
        <div class="px-4 flex justify-around items-center text-slate-400 h-20">
          <div class="text-slate-50 grid place-items-center gap-1">
            <div class="h-6 w-6">
              {{ template "icon/text" }}
            </div>
            <div class="text-center font-bold text-xs text-slate-200">Text</div>
          </div>
          <div class="grid place-items-center gap-1">
            <div class="h-6 w-6">
              {{ template "icon/layout" }}
            </div>
            <div class="text-center font-bold text-xs">Layout</div>
          </div>
          <div class="grid place-items-center gap-1">
            <div class="h-6 w-6">
              {{ template "icon/images" }}
            </div>
            <div class="text-center font-bold text-xs">Images</div>
          </div>
          <div class="grid place-items-center gap-1">
            <div class="h-6 w-6">
              {{ template "icon/colors" }}
            </div>
            <div class="text-center font-bold text-xs">Colors</div>
          </div>
        </div>
      </footer>
    </body>
  </html>
{{ end }}
