{{ block chart() }}
	<div
		_='set :settings to settingsChart({{ .ColumnCount }}, {{ .RowCount }}, {{ .Spacing }}, {{ .Padding }})
		   set :settingsNames to settingsNames()
		   set :settingsFuncs to settingsFuncs()
		   init
			   updateChart(:settingsNames, :settings)
			   show me
		   end
		   -- mobile replace on search
		   on chartImages(src, title, caption)
		       set imgs to the children of #images
			   set imgTxt to the children of #text
			   send replace(src: src, title: title, caption: caption) to imgs[$imgIndex]
			   send replace(src: "", title: title, caption: caption) to imgTxt[$imgIndex]
		   end
		   -- event bubbles up from the original <chart-image>
		   on drop(target)
			   set i to target.attributes.index.value
			   set t to target.attributes.title.value
			   set c to target.dataset.caption
			   log target
			   set imgTxt to the children of #text
			   send replace(src: "", title: t, caption: c) to imgTxt[i]
		   on chartUpdate(setting, value)
			   set f to :settingsFuncs[setting]
			   set :settings[setting].val to f(value)
			   set :settings[setting].rawVal to value
			   updateChart(:settingsNames, :settings)
		   end
		   on chartTextPlacement(value)
			   if value is "hide"
				   add [@text-placement="hide"] to <chart-image/>
				   add [@text-placement="hide"] to #images-text
			   end
			   if value is "inline"
				   add [@text-placement="inline"] to <chart-image/>
				   add [@text-placement="hide"] to #images-text
			   end
			   if value is "overlay"
				   add [@text-placement="overlay"] to <chart-image/>
				   add [@text-placement="hide"] to #images-text
			   end
			   if value is "left"
				   add [@text-placement="hide"] to <chart-image/>
				   add [@text-placement="left"] to #images-text
			   end
			   if value is "below"
				   add [@text-placement="hide"] to <chart-image/>
				   add [@text-placement="below"] to #images-text
			   end
			   if value is "right"
				   add [@text-placement="hide"] to <chart-image/>
				   add [@text-placement="right"] to #images-text
			   end
		   end'
		id="chart"
		class="shadow-lg grid place-items-center gap-4"
		style="background-color: {{ .BgColor }}; display: none;"
	>
		<h1
			_="on update(val) get the markdown(val) then set my.innerHTML to it"
			id="chart-title"
			class="font-condensed"
			style="color: {{ .TextColor }};"
		>
			{{ .Title }}
		</h1>
		<chart-images-text id="images-text" text-placement="hide">
			<ul
				_="-- sortable events
				   on move(dragged)
				       set the dragged's @data-was-dragging to true
				   on end(item)
					   set i to item.attributes.index.value
					   set t to item.attributes.title.value
					   set c to item.dataset.caption
					   set imgTxt to the children of #text
					   send replace(src: '', title: t, caption: c) to imgTxt[i]
					   set the item's @data-was-dragging to false"
				id="images"
				class="grid sortable"
				slot="images"
			>
				{{ imagesHeight := .ImagesHeight }}
				{{ textColor := .TextColor }}
				{{ imagesShape := .ImagesShape == "portrait" ? "aspect-[4/5]" : "aspect-square" }}
				{{ imagesRoundedCorners := .ImagesRoundedCorners ? "rounded" : "" }}

				{{ range i := .Images }}
					<chart-image
						_="on touchend
								   if @data-was-dragging
									   remove @data-was-dragging from me
									   exit
								   end
								   wait 150ms
								   toggle between .hidden and .block on <footer/>
								   toggle between .hidden and .grid on #search-mobile
								   set $imgIndex to {{ i }}
								   set searchMobile to #search-mobile-input then searchMobile.focus()
							end"
						class="aria-hidden:hidden"
						index="{{ i }}"
						title="{{ .Title }}"
						caption="{{ .Caption }}"
						src="{{ .URL }}"
						width="{{ imagesHeight }}"
						text-color="{{ textColor }}"
						text-placement="inline"
						aria-hidden="false"
					>
					</chart-image>
				{{ end }}
			</ul>
			{{ cols := .ColumnCount }}
			<chart-text id="text" slot="text" columns="{{ cols }}" text-placement="hide">
				{{ range i := .Images }}
					<chart-text-item index="{{ i }}" title="{{ .Title }}" caption="{{ .Caption }}"></chart-text-item>
				{{ end }}
			</chart-text>
		</chart-images-text>
	</div>
{{ end }}
