{{ block chart() }}
	<div
		_='set :images to {{ .Images | writeJson }}
		   set :settings to settingsChart({{ .ColumnCount }}, {{ .RowCount }}, {{ .Spacing }}, {{ .Padding }})
		   set :settingsNames to settingsNames()
		   set :settingsFuncs to settingsFuncs()
		   init
			   updateChart(:settingsNames, :settings)
			   show me
		   end
		   on chartImages(src, title, caption)
		       set :images[$imgIndex].src to src
		       set :images[$imgIndex].title to title
		       set :images[$imgIndex].caption to caption

		       set targetId to `chart-img-${$imgIndex}`
			   send replace(src: src, title: title, caption: caption) to #{targetId}
		   end
		   on chartUpdate(setting, value)
			   set f to :settingsFuncs[setting]
			   set :settings[setting].val to f(value)
			   set :settings[setting].rawVal to value
			   updateChart(:settingsNames, :settings)
		   end
		   on chartTextPlacement(value)
			   if value is "hide"
				   add [@text-placement="hide"] to <chart-image/>
				   hide #text
			   end
			   if value is "inline"
				   add [@text-placement="inline"] to <chart-image/>
			   end
			   if value is "overlay"
				   add [@text-placement="overlay"] to <chart-image/>
			   end
			   if value is "left"
				   add .flex-row-reverse to #images-text
				   remove .flex-row from #images-text
				   remove .flex-col from #images-text
			   end
			   if value is "right"
				   add .flex-row to #images-text
				   remove .flex-row-reverse from #images-text
				   remove .flex-col from #images-text
			   end
			   if value is "below"
				   remove .flex-row from #images-text
				   remove .flex-row-reverse from #images-text
				   add .flex-col to #images-text
				   set tmpl to :settings["columns"].val
				   set #text.style["grid-template-columns"] to tmpl
			   end
		   end'
		id="chart"
		class="shadow-lg grid place-items-center gap-4"
		style="background-color: {{ .BgColor }}; display: none;"
	>
		<h1
			_="on update(val) get the markdown(val) then set my.innerHTML to it"
			id="chart-title"
			class="font-condensed"
			style="color: {{ .TextColor }};"
		>
			{{ .Title }}
		</h1>
		<div id="images-text" class="flex flex-row-reverse gap-8">
			<ul
				_="on move(dragged)
			 set the dragged's @data-was-dragging to true
		 on end(item)
			 set the items's @data-was-dragging to false"
				id="images"
				class="grid sortable"
			>
				{{ imagesHeight := .ImagesHeight }}
				{{ textColor := .TextColor }}
				{{ imagesShape := .ImagesShape == "portrait" ? "aspect-[4/5]" : "aspect-square" }}
				{{ imagesRoundedCorners := .ImagesRoundedCorners ? "rounded" : "" }}

				{{ range i := .Images }}
					<li
						_="on touchend
						       if @data-was-dragging
						           remove @data-was-dragging from me
						           exit
						       end
						       wait 150ms
						       toggle between .hidden and .block on <footer/>
						       toggle between .hidden and .grid on #search-mobile
						       set $imgIndex to {{ i }}
						       set searchMobile to #search-mobile-input then searchMobile.focus()
						   end"
						class="aria-hidden:hidden chart-element"
						aria-hidden="false"
					>
						<chart-image
							id="chart-img-{{ i }}"
							title="{{ .Title }}"
							caption="{{ .Caption }}"
							src="{{ .URL }}"
							width="{{ imagesHeight }}"
							text-color="{{ textColor }}"
							text-placement="inline"
						>
						</chart-image>
					</li>
				{{ end }}
			</ul>
			<ul id="text" class="hidden grid grid-flow-row-dense justify-between">
				{{ cols := .ColumnCount }}
				{{ range i := .Images }}
					<li class="aria-hidden:hidden text-slate-900">
						<strong>Darude</strong>
						&nbsp;
						<span>Sandstorm</span>
					</li>
				{{ end }}
			</ul>
		</div>
	</div>
{{ end }}
