html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: #f1f2f2;
}

.home {
    vertical-align: middle;
}

.collage-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    align-items: stretch;
    justify-items: center;
}

.collage-row {
    display: block;
}

.collage-image {
    display: block;
     margin: auto auto;
}

img {
    width: auto;
    height: 100px;
    max-width: 100%;
}

p {
    color: #080808;
}
