body {
    max-width: 1366px;
    background-color: #f1f2f2;
}

.home {
    margin: auto;
    widows: 100%;
}

.collage-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 20px;
    align-items: stretch;
    justify-items: center;
}

.collage-image {
    display: block;
    margin: auto auto;
    border: red dotted;
}

p {
    color: #080808;
}

img {
    width: 100px;
    height: 100px;
    max-width: 100%;
}
