* {
  box-sizing: border-box;
}

html, body {
  padding: 1em;
}

html {
  margin: auto;
}

body {
  background-color: #f1f2f2;
}


figcaption {
  text-align: center;
  word-break: break-word;
  width: 100px;
  padding-top: 3px;
  margin: auto;
}

img {
  width: 100px;
  height: auto;
  box-shadow: 0px 0px 5px rgba(0,0,0,.4);
  opacity: 0.99;
  cursor: move;
}

img:hover{
  box-shadow: 0px 0px 10px rgba(0,0,0,.4);
}

p {
  color: #303032;
  line-height: 1.2rem;
}

b {
  padding-right: 0.3em;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

caption {
  padding-bottom: 0.5em;
  color: #303032;
  text-align: left;
  background-color: #f1f2f2;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  margin: 3em 2em;
  background-color: #f1f2f2;
  float: left;
}

li {
  display: block;
  text-decoration: none;
}

ul {
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 0;
  float: left;
}

.pad-1 {
  padding: 0.1em;
}
.pad-2 {
  padding: 0.2em;
}
.pad-3 {
  padding: 0.3em;
}
.pad-4 {
  padding: 0.4em;
}
.pad-5 {
  padding: 0.5em;
}

.home {
  vertical-align: middle;
  width: 100%;
}

.search {
  display: block;
  position: absolute;
}

.results {
  margin: auto;
  max-height: 100vh;
  overflow: auto;
}

.collage-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #f1f2f2;
  width: 50%;
}

.collage-image {
  display: block;
}

.album-big {
  width: 150px;
  height: auto;
}

.album-big + figcaption {
  width: 150px;
}

.album {
  width: 100px;
  height: auto;
}

.film {
  width: 100px;
  height: 150px;
}

.count {
  display: flex;
  justify-content: space-between;
}

.count-container {
  max-width: 105px;
}

.top-10-top {
  margin: 1em 0;
}

.top-10-bottom {
  margin: 1em 0;
}

