.nav-menu {
    display: flex;
    gap: 2rem;
}

.nav-menu-item {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    gap: .5rem;
}

.nav-menu-item > p {
    min-width: 4rem;
}

.nav-menu-view {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .5rem;
}
