.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-cols-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-cols-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
}

.gap-1 {
    gap: 0.25rem;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-3 {
    gap: 0.75rem;
}

.gap-4 {
    gap: 1rem;
}

.gap-5 {
    gap: 1.25rem;
}

.gap-6 {
    gap: 1.5rem;
}

.gap-7 {
    gap: 1.75rem;
}

.gap-8 {
    gap: 2rem;
}

/* Radio buttons */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: rgb(56 189 248);
}

/* Config transition */
.config-enter {
    max-height: 0px;
    transition: max-height 500ms ease;
    overflow: hidden;
}

.config-enter-active {
    max-height: 20rem;
    height: auto;
}

.config-exit {
    max-height: 20rem;
    transition: max-height 500ms ease;
}

.config-exit-active {
    overflow: hidden;
    max-height: 0px;
}

/* Search transition */
.search-enter {
    opacity: 0;
    transition: opacity 300ms ease;
}

.search-enter-active {
    opacity: 1;
}
