{{ define "flyout" }}
<div
	_="on openFlyout set @aria-expanded to 'true' then transition #underlay's opacity to 75% over 200ms end
	   on closeFlyout transition #underlay's opacity to 0 over 200ms then set @aria-expanded to 'false' end
	   on submit send closeFlyout to .flyout"
	class="hidden aria-expanded:grid fixed inset-0 z-50 flyout"
	aria-expanded="false"
>
	<div
		_="on click send closeFlyout to .flyout end"
		id="underlay"
		class="absolute inset-0 -z-10 bg-slate-900 opacity-75"
	>
	</div>
	<form
		hx-patch="/charts/settings"
		hx-target="#chart"
		_="on openFlyout transition transform to 'translateX(0)' over 200ms end
		   on closeFlyout transition transform to 'translateX(100%)' over 200ms end"
		class="bg-slate-100 justify-self-end w-full max-h-screen max-w-[calc(100%_-_40px)] md:max-w-md \
			   ml-10 md:ml-0 translate-x-full flyout grid grid-cols-1 grid-rows-[auto_auto_1fr_auto_auto]"
	>
		<div class="p-6 md:p-8 flex justify-between text-2xl">
			<h2 class="font-semibold">Settings</h2>
			<button
				_="on click send closeFlyout to .flyout"
				type="button"
				class="text-slate-700"
			>
				⨯
			</button>
		</div>
		<hr class="border-slate-300">
		<div class="p-6 md:p-8 grid grid-cols-1 grid-flow-row auto-rows-max justify-start gap-8 overflow-y-scroll">
			{{ with .Chart }}
				<input type="hidden" name="id" value="{{ .ID }}">
				{{ template "input/text" newInputText "Title" "title" .Title }}
				{{ template "input/slider" newInputSlider "column-count" "Columns" "columns" .ColumnCount 1 10 }}
				{{ template "input/slider" newInputSlider "row-count" "Rows" "rows" .RowCount 1 10 }}
				{{ template "input/slider" newInputSlider "spacing" "Spacing" "spacing" .Spacing 0 10 }}
				{{ template "input/slider" newInputSlider "margins" "Margins" "margins" .Padding 0 10 }}
				{{ template "input/slider" newInputSlider "images-height" "Images height" "imgs-height" .ImagesHeight 48 255 }}
			{{ end }}
		</div>
		<hr class="border-slate-300">
		<div role="group" class="p-6 md:p-8 flex justify-start gap-4">
			<button
				type="submit"
				class="font-bold rounded px-6 py-4 bg-sky-600 text-sky-50"
			>
				Confirmar
			</button>
			<button
				_="on click send closeFlyout to .flyout"
				type="reset"
				class="font-bold rounded px-6 py-4 bg-slate-600 text-slate-50"
			>
				Cancelar
			</button>
		</div>
	</form>
</div>
{{ end }}
