{{ define "flyout" }}
<div
	_="on openFlyout set @aria-expanded to 'true' then transition #underlay's opacity to 75% over 200ms end
	   on closeFlyout transition #underlay's opacity to 0 over 200ms then set @aria-expanded to 'false' end"
	class="hidden aria-expanded:grid fixed inset-0 flyout z-50"
	aria-expanded="false"
>
	<div
		_="on click send closeFlyout to .flyout end"
		id="underlay"
		class="absolute inset-0 -z-10 bg-slate-900 opacity-75"
	>
	</div>
	<div
		_="on openFlyout transition transform to 'translateX(0)' over 200ms end
		   on closeFlyout transition transform to 'translateX(100%)' over 200ms end"
		class="bg-slate-100 justify-self-end w-full max-w-[calc(100%_-_40px)] md:max-w-md \
			   ml-10 md:ml-0 translate-x-full flyout grid grid-cols-1 grid-rows-[auto_auto_1fr]"
	>
		<div class="p-6 md:p-8 flex justify-between text-2xl">
			<h2 class="font-semibold">Settings</h2>
			<button
				_="on click set @aria-pressed to 'true' then send closeFlyout to .flyout"
				type="button"
				class="text-slate-700"
			>
				⨯
			</button>
		</div>
		<hr class="border-slate-300">
		<form
			hx-patch="/chart/config"
			class="grid grid-cols-1 grid-rows-[1fr_auto_auto] justify-between"
		>
			<div class="p-6 md:p-8">
				{{ with .ChartConfig }}
					{{ template "slider" .Column }}
					{{ template "slider" .Row }}
					{{ template "slider" .Spacing }}
					{{ template "slider" .Margins }}
				{{ end }}
			</div>
			<hr class="border-slate-300">
			<div role="group" class="p-6 md:p-8 flex justify-start gap-4">
				<button
					type="submit"
					class="font-bold rounded px-6 py-4 bg-sky-600 text-sky-50"
				>
					Confirmar
				</button>
				<button
					_="on click set @aria-pressed to 'true' then send closeFlyout to .flyout"
					type="reset"
					class="font-bold rounded px-6 py-4 bg-slate-600 text-slate-50"
				>
					Cancelar
				</button>
			</div>
		</form>
	</div>
</div>
{{ end }}
