{{ define "sidenav" }}
<aside
	class="z-10 shadow flex md:flex-col items-center justify-between bg-gray-700 text-white px-6 py-4 w-full md:w-max md:h-full"
>
	<button
		_="on click send openFlyout to .flyout"
		type="button"
		class="grid place-items-center"
	>
		<img
			src="/static/img/settings.svg"
			alt="Settings"
			width="30"
			height="30"
			class="filter invert"
		>
	</button>
	<button type="button" class="grid place-items-center">
		<img
			src="/static/img/save.svg"
			alt="Save to file"
			width="30"
			height="30"
			class="filter invert"
		>
	</button>
</aside>
{{ end }}
