@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,400;0,700;1,400&family=Sofia+Sans:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.ghost-album {
	outline: 2px solid blue;
}

*::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

*::-webkit-scrollbar-track {
	background: #475569;
}

*::-webkit-scrollbar-thumb {
	background: #94a3b8;
}

*::-webkit-scrollbar-corner {
	background: #475569;
}

.htmx-indicator {
	display: none;
}

.htmx-request .confirm {
	display: none;
}

.htmx-request .spinner {
	display: block;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

.fade-it {
	view-transition-name: fade-it;
}

::view-transition-old(fade-it) {
	animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}
::view-transition-new(fade-it) {
	animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}
