{{ define "main" }}
	<div class="h-full grid grid-cols-1 grid-rows-[3.5rem_1fr_auto]">
		{{ template "header" . }}
		<main class="overflow-auto grid justify-center py-4 px-8 bg-slate-950">
			{{ template "home" . }}
		</main>
		{{ template "footer" . }}
	</div>
{{ end }}

{{ define "home" }}
	<div class="text-center flex flex-col gap-2">
		<h2 class="text-4xl leading-none">A modern chart editor</h2>
		<p class="leading-tight">Build charts of your favorite music and customize them to your heart’s content</p>
		<img
			class="py-2"
			src="/assets/img/chart.png"
			alt="Music chart featuring Godspeed You! Black Emperor, Nine Inch Nails, Porcupine Tree, and Anathema"
		/>
	</div>
{{ end }}
